<!Doctype html>
<html lang="es" dir="ltr">
  <head>
    <%- include ('partials/meta.ejs') %>
    <script src="https://apis.google.com/js/client.js" type="text/javascript"></script>
    <script src="https://www.youtube.com/iframe_api" type="text/javascript"></script>
    <link rel="stylesheet" href="style/youtube.css"/>
    <script src="script/youtube.js" defer></script>
    <title>Search</title>
  </head>
  <body>
    <h1>Video Search</h1>
    <div class="browser">
      <form>
        <input type="text" id="search" class="search" required>
        <button class="submit">Search</button>
      </form>
    </div>
    <section>
    </section>
  </body>
</html>
