<!Doctype html>
<html lang="es" dir="ltr">
  <head>
    <%- include ('partials/meta.ejs') %>
    <link rel="stylesheet" href="style/tool.css"/>
    <script src="script/async.js" defer></script>
    <title>Async</title>
  <body>
    <h1>Async code</h1>
    <p id="reloj">00:00:00</p>
    <button id="start">Start</button>
    <button id="stop">Stop</button>
    <button id="restart">Restart</button>
  </body>
</html>
