<!Doctype html>
<html lang="es" dir="ltr">
  <head>
    <%- include ('partials/meta.ejs') %>
    <link rel="stylesheet" href="style/storage.css"/>
    <script src="script/storage.js" defer></script>
    <title>Storages</title>
  </head>
  <body>
    <header>
      <h1>Index DB</h1>
    </header>
    <aside>
    </aside>
    <footer>
      <p>Copyright anonimo</p>
    </footer>
  </body>
</html>
