<!Doctype html>
<html lang="es" dir="ltr">
  <head>
    <%- include ('partials/meta.ejs') %>
    <script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js" defer></script>
    <link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css"/>
    <link rel="stylesheet" href="style/youtube.css"/>
    <script src="script/youtube.js" defer></script>
    <title>World</title>
  </head>
  <body>
    <h1>Mapquest</h1>
    <div id="map"></div>
  </body>
</html>
